@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: rgb(240,240,240);
    font-size: 35px;
}

.wrapper { position: relative; }
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(217 167 237);
    margin: 0;
}

header {
    padding: 10px;
}

.departures {
    background-color: rgb(6,6,6);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
.departures table {
    background-color: rgb(46,46,46);
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 15px;
}
.departures table td {
    height: 50px;
}
.departures table div {
    display: flex;
    align-items: center;
    border: solid 4px rgb(26,26,26);
    background-color: rgb(0,0,0);
    float: left;
    height: 40px;
}

#time {
    width: 160px;
    min-width: 160px;
}
#destination {
    width: 290px;
    min-width: 290px;
}
#flight {
    width: 205px;
    min-width: 205px;
}
#gate {
    width: 135px;
    min-width: 135px;
}
#remarks {
    width: 290px;
    min-width: 290px;
}

.flip {
    animation: 0.5s linear flipping;
}

.scroll-indicator-text { 
    display: none;
    position: absolute;
    bottom: -30px;
    right: 20px;
    font-size: 15px;
    color: #333;
}

@media screen and (max-width: 1050px) {
    * {
        font-size: 25px;
    }
    .container {
        overflow: auto;
        white-space: nowrap;
        width: 100vw;
    }
    .departures {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: auto;
        white-space: normal;
        min-width: 900px;
    }
    .departures table td,
    .departures table div  {
        height: 30px;
    }
    .departures table tr:first-of-type td {
        width: 140px;
    }
    .scrollable { width: 100%; }

    .scroll-indicator-text { display: block; }
    
}

@media screen and (max-width: 992px) {
    * {
        font-size: 20px;
    }
    .scroll-indicator-text { right: 10px; }
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform:  rotate(0deg);
    }
}


